[api]
auth_backends = airflow.providers.fab.auth_manager.fab_auth_manager.FabAuthManager

[core]
# Disable SimpleAuthManager yang auto-generate password
auth_manager = airflow.providers.fab.auth_manager.fab_auth_manager.FabAuthManager

[webserver]
# Use FAB authentication
authenticate = True
auth_backend = airflow.providers.fab.auth_manager.fab_auth_manager.FabAuthManager
